.comments {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 32px 0 0;
    background-image: url("../../../public/comments-page/comments-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
